Repository Jimreed91/spray_day: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yarn-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
 pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit {staged_files}
    gems-audit:
      tags: backend security
      run: bundle audit {staged_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: "application.rb|routes.rb"
      run: bundle exec rubocop {staged_files}
    stylelint:
      tags: frontend style
      run: stylelint "**/*.{scss,sass}" {staged_files}
    standardlint:
      tags: js linting
      run: standard {staged_files}
    yarn-eslint:
      glob: "*.{js,ts,jsx,tsx}" # glob filter for list of files
      run: yarn eslint {staged_files} # {staged_files} - list of files
    rspec-test:
      run: rspec
  post-merge:
    packages-audit:
      tags: frontend security
      run: yarn audit {staged_files}

# # pre-commit:
# #   parallel: true
# #   commands:
# #     eslint:
# #       glob: "*.{js,ts,jsx,tsx}"
# #       run: yarn eslint {staged_files}
# #
# #     govet:
# #       tags: backend style
# #       files: git ls-files -m
# #       glob: "*.go"
# #       run: go vet {files}
# #   scripts:
# #     "hello.js":
# #       runner: node
# #     "any.go":
# #       runner: go run

small view unit additions and sprayer index fix
  app/controllers/sprayers_controller.rb
  app/views/products/_row.html.erb
  app/views/products/index.html.erb
Due: rubocop

Show tables for spray config and details
  app/controllers/spray_programs_controller.rb
  app/models/spray_program.rb
  app/views/farms/show.html.erb
  app/views/shared/_navbar.html.erb
  app/views/spray_programs/_program_crop_fields.html.erb
  app/views/spray_programs/_program_dose_fields.html.erb
  app/views/spray_programs/_spray_config.html.erb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/edit.html.erb
  app/views/spray_programs/new.html.erb
  app/views/spray_programs/show.html.erb
  app/views/sprayers/_row.html.erb
  app/views/sprayers/index.html.erb
Due: rubocop

Mix details table added to show
  app/models/spray_program.rb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/show.html.erb
Due: rubocop

Improved cocoon fields and rendering of spray program show
  app/views/spray_programs/_program_crop_fields.html.erb
  app/views/spray_programs/_program_dose_fields.html.erb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/new.html.erb
Due: none

Added toggleable form to change sprayer config on show page
  app/javascript/packs/application.js
  app/views/spray_programs/_program_crop_fields.html.erb
  app/views/spray_programs/edit.html.erb
  app/views/spray_programs/show.html.erb
Due: yarn-eslint

Fixed table styles
  app/views/spray_programs/_spray_config.html.erb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/show.html.erb
Due: none

helper
  app/helpers/products_helper.rb
Due: rubocop

Added some color, fixed navbar overlay isissue and containerised main body
  app/assets/stylesheets/components/_index.scss
  app/assets/stylesheets/components/_navbar.scss
  app/views/layouts/application.html.erb
  app/views/shared/_footer.html.erb
  app/views/shared/_navbar.html.erb
  app/views/spray_programs/show.html.erb
Due: none

Added fontawesome with yarn
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/products.scss
  app/assets/stylesheets/spray_programs.scss
  app/assets/stylesheets/sprayer.scss
  app/javascript/packs/application.js
  package.json
  yarn.lock
Due: yarn-eslint

styling intensifies, responsive padding on container
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/views/spray_programs/_spray_config.html.erb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/edit.html.erb
  app/views/spray_programs/show.html.erb
Due: none

simplifying tables
  app/views/crops/_row.html.erb
  app/views/crops/index.html.erb
  app/views/shared/_model_dropdown.html.erb
  app/views/spray_programs/_row.html.erb
  app/views/spray_programs/index.html.erb
Due: none

footer details added
  app/views/crops/index.html.erb
  app/views/products/index.html.erb
  app/views/shared/_footer.html.erb
Due: none

style overhaul
  app/views/crops/index.html.erb
  app/views/layouts/application.html.erb
  app/views/products/index.html.erb
  app/views/spray_programs/index.html.erb
  app/views/sprayers/index.html.erb
Due: none

dropdown to deal with farm management
  app/views/shared/_navbar.html.erb
  public/packs-test/manifest.json
Due: none

capybara not recognising button fix
  app/views/shared/_model_dropdown.html.erb
  spec/features/crops_spec.rb
Due: rubocop

cleaned up spray program show with collapseables
  app/views/spray_programs/_spray_config.html.erb
  app/views/spray_programs/_spray_details.html.erb
  app/views/spray_programs/show.html.erb
Due: none

-mtesting bottom nav
  app/views/layouts/application.html.erb
  app/views/shared/_navbarm.html.erb
Due: none

Set default avatar and formated mobile nabbar
  app/assets/images/defbg.png
  app/views/shared/_navbar.html.erb
  app/views/shared/_navbarm.html.erb
Due: none

centered mobilie menu
  app/views/shared/_navbarm.html.erb
Due: none

centered inner menu text
  app/views/shared/_navbarm.html.erb
Due: none
