Repository Jimreed91/spray_day: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yarn-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
 pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit {staged_files}
    gems-audit:
      tags: backend security
      run: bundle audit {staged_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: "application.rb|routes.rb"
      run: bundle exec rubocop {staged_files}
    stylelint:
      tags: frontend style
      run: stylelint "**/*.{scss,sass}" {staged_files}
    standardlint:
      tags: js linting
      run: standard {staged_files}
    yarn-eslint:
      glob: "*.{js,ts,jsx,tsx}" # glob filter for list of files
      run: yarn eslint {staged_files} # {staged_files} - list of files
    rspec-test:
      run: rspec
  post-merge:
    packages-audit:
      tags: frontend security
      run: yarn audit {staged_files}

# # pre-commit:
# #   parallel: true
# #   commands:
# #     eslint:
# #       glob: "*.{js,ts,jsx,tsx}"
# #       run: yarn eslint {staged_files}
# #
# #     govet:
# #       tags: backend style
# #       files: git ls-files -m
# #       glob: "*.go"
# #       run: go vet {files}
# #   scripts:
# #     "hello.js":
# #       runner: node
# #     "any.go":
# #       runner: go run

minimum sprayer implementation
  app/assets/stylesheets/sprayer.scss
  app/controllers/sprayers_controller.rb
  app/helpers/sprayer_helper.rb
  app/views/farms/show.html.erb
  app/views/products/create.html.erb
  app/views/sprayers/_row.html.erb
  app/views/sprayers/index.html.erb
  app/views/sprayers/new.html.erb
  app/views/sprayers/show.html.erb
  config/routes.rb
  spec/helpers/sprayer_helper_spec.rb
  spec/requests/sprayer_spec.rb
Due: rubocop

sprayer crud working
  app/controllers/products_controller.rb
  app/controllers/sprayers_controller.rb
  app/views/products/edit.html.erb
  app/views/sprayers/edit.html.erb
  config/routes.rb
Due: rubocop

rubocop lint
  app/controllers/products_controller.rb
  app/controllers/sprayers_controller.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  spec/factories/sprayers.rb
  spec/requests/sprayer_spec.rb
Due: rubocop

Delete index.html
  coverage/index.html
Due: none

Delete .resultset.json
  coverage/.resultset.json
Due: none

migrated initial spray program and associated user through Farm
  app/models/farm.rb
  app/models/spray_program.rb
  app/models/user.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/migrate/20220729100317_create_spray_programs.rb
  db/schema.rb
  spec/factories/spray_programs.rb
  spec/models/spray_program_spec.rb
Due: rubocop

sprayer to spray program join table association set up
  app/models/program_sprayer.rb
  app/models/spray_program.rb
  app/models/sprayer.rb
  db/migrate/20220729102459_create_program_sprayers.rb
  db/schema.rb
  spec/factories/program_sprayers.rb
  spec/models/program_sprayer_spec.rb
Due: rubocop

db structure for spray-programs
  app/models/crop.rb
  app/models/product.rb
  app/models/program_crop.rb
  app/models/program_dose.rb
  app/models/spray_program.rb
  db/migrate/20220729115951_create_program_crops.rb
  db/migrate/20220729131527_create_program_doses.rb
  db/schema.rb
  spec/factories/program_crops.rb
  spec/factories/program_doses.rb
  spec/models/program_crop_spec.rb
  spec/models/program_dose_spec.rb
Due: rubocop

adding some uniqueness validations
  app/models/program_crop.rb
  app/models/program_dose.rb
  app/models/program_sprayer.rb
  spec/factories/sprayers.rb
Due: rubocop

adding database side uniqueness indices for many to many associations
  app/models/program_crop.rb
  app/models/program_dose.rb
  app/models/program_sprayer.rb
  app/models/spray_program.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/migrate/20220729144834_add_unique_index_to_program_crop.rb
  db/migrate/20220729145820_add_unique_index_to_program_doses.rb
  db/migrate/20220729150310_add_unique_index_to_program_sprayer.rb
  db/schema.rb
  spec/factories/program_doses.rb
  spec/factories/program_sprayers.rb
  spec/factories/spray_programs.rb
Due: rubocop

Delete .last_run.json
  coverage/.last_run.json
Due: none

set up of spray program create/show/index frame
  app/assets/stylesheets/spray_programs.scss
  app/controllers/spray_programs_controller.rb
  app/helpers/spray_programs_helper.rb
  app/views/products/new.html.erb
  app/views/spray_programs/_row.html.erb
  app/views/spray_programs/index.html.erb
  app/views/spray_programs/new.html.erb
  app/views/spray_programs/show.html.erb
  config/routes.rb
  coverage/.resultset.json
  coverage/index.html
  spec/helpers/spray_programs_helper_spec.rb
  spec/requests/spray_programs_spec.rb
Due: rubocop

cocoon setup
  Gemfile
  Gemfile.lock
  app/javascript/packs/application.js
  app/views/spray_programs/show.html.erb
  package.json
  yarn.lock
Due: yarn-eslint

sprayer/program_sprayer nested form working
  app/controllers/spray_programs_controller.rb
  app/models/product.rb
  app/models/spray_program.rb
  app/views/spray_programs/new.html.erb
  app/views/spray_programs/show.html.erb
Due: rubocop

git cache cleared - gitignore coverage should work now
  .rubocop.yml
  app/controllers/spray_programs_controller.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/.resultset.json.lock
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_asc_disabled.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_both.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc.png
  coverage/assets/0.12.3/DataTables-1.10.20/images/sort_desc_disabled.png
  coverage/assets/0.12.3/application.css
  coverage/assets/0.12.3/application.js
  coverage/assets/0.12.3/colorbox/border.png
  coverage/assets/0.12.3/colorbox/controls.png
  coverage/assets/0.12.3/colorbox/loading.gif
  coverage/assets/0.12.3/colorbox/loading_background.png
  coverage/assets/0.12.3/favicon_green.png
  coverage/assets/0.12.3/favicon_red.png
  coverage/assets/0.12.3/favicon_yellow.png
  coverage/assets/0.12.3/images/ui-bg_flat_0_aaaaaa_40x100.png
  coverage/assets/0.12.3/images/ui-bg_flat_75_ffffff_40x100.png
  coverage/assets/0.12.3/images/ui-bg_glass_55_fbf9ee_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_65_ffffff_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_dadada_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_75_e6e6e6_1x400.png
  coverage/assets/0.12.3/images/ui-bg_glass_95_fef1ec_1x400.png
  coverage/assets/0.12.3/images/ui-bg_highlight-soft_75_cccccc_1x100.png
  coverage/assets/0.12.3/images/ui-icons_222222_256x240.png
  coverage/assets/0.12.3/images/ui-icons_2e83ff_256x240.png
  coverage/assets/0.12.3/images/ui-icons_454545_256x240.png
  coverage/assets/0.12.3/images/ui-icons_888888_256x240.png
  coverage/assets/0.12.3/images/ui-icons_cd0a0a_256x240.png
  coverage/assets/0.12.3/loading.gif
  coverage/assets/0.12.3/magnify.png
  coverage/index.html
  spec/requests/spray_programs_spec.rb
Due: rubocop, yarn-eslint

commit
  app/controllers/spray_programs_controller.rb
Due: rubocop

refactored dropdown menu to work everywhere
  app/controllers/spray_programs_controller.rb
  app/helpers/application_helper.rb
  app/views/spray_programs/_row.html.erb
  app/views/spray_programs/index.html.erb
Due: rubocop

added sprayer speed/output config)
  app/controllers/spray_programs_controller.rb
  app/views/spray_programs/edit.html.erb
  app/views/spray_programs/show.html.erb
Due: rubocop
