Repository Jimreed91/spray_day: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yarn-eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop {staged_files}

yarn-eslint:
  run: yarn eslint {staged_files}

bootstrap import working now more explicit
  app/assets/stylesheets/application.scss
  app/javascript/packs/application.js
Due: yarn-eslint

bs
  app/frontend/channels/consumer.js
  app/frontend/channels/index.js
  app/frontend/js/bootstrap_js_files.js
  app/frontend/packs/application.js
  app/frontend/stylesheets/README.md
  app/frontend/stylesheets/application.scss
  app/frontend/stylesheets/components/_alert.scss
  app/frontend/stylesheets/components/_avatar.scss
  app/frontend/stylesheets/components/_form_legend_clear.scss
  app/frontend/stylesheets/components/_index.scss
  app/frontend/stylesheets/pages/_home.scss
  app/frontend/stylesheets/pages/_index.scss
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

back to working setup
  app/frontend/channels/consumer.js
  app/frontend/channels/index.js
  app/frontend/js/bootstrap_js_files.js
  app/frontend/packs/application.js
  app/frontend/stylesheets/README.md
  app/frontend/stylesheets/application.scss
  app/frontend/stylesheets/components/_alert.scss
  app/frontend/stylesheets/components/_avatar.scss
  app/frontend/stylesheets/components/_form_legend_clear.scss
  app/frontend/stylesheets/components/_index.scss
  app/frontend/stylesheets/pages/_home.scss
  app/frontend/stylesheets/pages/_index.scss
Due: yarn-eslint

Turning off actions ci for now
  .github/workflows/rubyonrails.yml
  coverage/.resultset.json
  coverage/index.html
Due: none

Edit implemented and added to reuseable dropdown. Edit path generator helper added.
  app/controllers/crops_controller.rb
  app/helpers/application_helper.rb
  app/views/crops/edit.html.erb
  app/views/shared/_model_dropdown.html.erb
  config/routes.rb
  coverage/.resultset.json
  coverage/index.html
Due: rubocop

Delete implemented
  app/controllers/crops_controller.rb
  app/views/crops/destroy.html.erb
  app/views/shared/_model_dropdown.html.erb
  config/routes.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
Due: rubocop

lint
  config/webpack/development.js
  config/webpack/test.js
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

lint
  coverage/.resultset.json
  coverage/index.html
Due: none

edit test working
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/views/crops/_rows.html.erb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  spec/features/crops_spec.rb
Due: rubocop

prepush lint turned on
  coverage/.resultset.json
  coverage/index.html
  lefthook.yml
Due: none

crop delete feature test working
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  spec/features/crops_spec.rb
Due: rubocop

push
  .rubocop.yml
  app/models/crop.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  spec/controllers/crops_controller_spec.rb
  spec/features/crops_spec.rb
  spec/features/form_spec.rb
Due: rubocop

post rubocop
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  lefthook.yml
Due: rubocop

1
  app/assets/stylesheets/application.scss
  coverage/.resultset.json
  coverage/index.html
  yarn.lock
Due: none

altered boostrap path
  app/assets/stylesheets/application.scss
  coverage/.resultset.json
  coverage/index.html
Due: none

adjusted pack tags order
  app/assets/stylesheets/application.scss
  app/views/layouts/application.html.erb
  coverage/.resultset.json
  coverage/index.html
  lefthook.yml
  yarn.lock
Due: none

importing application.scss to js
  app/javascript/packs/application.js
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

application js importing bootstrapjs
  app/javascript/packs/application.js
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

with bs imported in appjs
  app/javascript/packs/application.js
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

deleted stylepack link in layout (bs imported via application scss)
  app/assets/stylesheets/application.scss
  app/javascript/packs/application.js
  app/views/layouts/application.html.erb
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

Path conditions:
  rubocop: any of: *.rb, but not: application.rb|routes.rb
  yarn-eslint: any of: *.{js,ts,jsx,tsx}
