Repository Jimreed91/spray_day: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yarn-eslint

rubocop:
  tags: backend style
  run: bundle exec rubocop {staged_files}

yarn-eslint:
  run: yarn eslint {staged_files}

saving working state
  app/javascript/packs/application.js
  app/views/layouts/application.html.erb
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

1
  app/assets/stylesheets/application.scss
  app/javascript/packs/application.js
  config/webpack/environment.js
  coverage/.resultset.json
  coverage/index.html
  package.json
  yarn.lock
Due: yarn-eslint

2
  config/webpack/environment.js
  coverage/.resultset.json
  coverage/index.html
Due: yarn-eslint

added basic db table and controller/model
  app/assets/stylesheets/products.scss
  app/controllers/products_controller.rb
  app/helpers/products_helper.rb
  app/models/farm.rb
  app/models/product.rb
  app/models/user.rb
  app/views/products/create.html.erb
  app/views/products/destroy.html.erb
  app/views/products/edit.html.erb
  app/views/products/index.html.erb
  app/views/products/new.html.erb
  app/views/products/show.html.erb
  config/routes.rb
  coverage/.resultset.json
  coverage/index.html
  db/migrate/20220715052831_create_products.rb
  db/schema.rb
  spec/factories/products.rb
  spec/helpers/products_helper_spec.rb
  spec/models/product_spec.rb
  spec/requests/products_spec.rb
  spec/views/products/create.html.erb_spec.rb
  spec/views/products/destroy.html.erb_spec.rb
  spec/views/products/edit.html.erb_spec.rb
  spec/views/products/index.html.erb_spec.rb
  spec/views/products/new.html.erb_spec.rb
  spec/views/products/show.html.erb_spec.rb
Due: rubocop

added routing
  app/controllers/products_controller.rb
  config/routes.rb
Due: rubocop

Product index view set up
  app/controllers/products_controller.rb
  app/views/crops/new.html.erb
  app/views/products/_row.html.erb
  app/views/products/index.html.erb
  config/routes.rb
Due: rubocop

FactoryBot setup for product
  spec/factories/products.rb
Due: rubocop

new product creation working minus liquid boolean, alerts moved out of navbar to below it
  Gemfile
  app/controllers/products_controller.rb
  app/models/product.rb
  app/views/layouts/application.html.erb
  app/views/products/new.html.erb
  app/views/shared/_navbar.html.erb
  config/routes.rb
Due: rubocop

edit delete working in development
  app/controllers/products_controller.rb
  app/views/products/edit.html.erb
  app/views/products/new.html.erb
  app/views/products/show.html.erb
  config/routes.rb
Due: rubocop

Added alert helper and implemented in product controller
  app/controllers/products_controller.rb
  app/helpers/application_helper.rb
  app/views/farms/show.html.erb
  config/routes.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  db/schema.rb
  lefthook.yml
  spec/requests/products_spec.rb
  spec/views/products/create.html.erb_spec.rb
  spec/views/products/destroy.html.erb_spec.rb
  spec/views/products/edit.html.erb_spec.rb
  spec/views/products/index.html.erb_spec.rb
  spec/views/products/new.html.erb_spec.rb
  spec/views/products/show.html.erb_spec.rb
Due: rubocop

notice helper implemented
  app/controllers/application_controller.rb
  app/controllers/crops_controller.rb
  app/controllers/products_controller.rb
  app/helpers/application_helper.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
Due: rubocop

test for crop delete fixed
  app/controllers/application_controller.rb
  app/controllers/crops_controller.rb
  app/controllers/pages_controller.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  spec/features/crops_spec.rb
  spec/support/capybara.rb
Due: rubocop

coverege added to gitignore
  .gitignore
  coverage/.resultset.json
  coverage/index.html
Due: none

remove cov
  coverage/.resultset.json
  coverage/index.html
Due: none

adding cov to gitignore
  .gitignore
Due: none

Delete index.html
  coverage/index.html
Due: none

Delete .resultset.json
  coverage/.resultset.json
Due: none

cov added to gitignore
  .gitignore
Due: none

test
  coverage/.resultset.json
  coverage/index.html
Due: none

sprayer model set up
  app/models/sprayer.rb
  coverage/.resultset.json
  coverage/index.html
  db/migrate/20220727045537_create_sprayers.rb
  db/schema.rb
  spec/factories/sprayers.rb
  spec/models/sprayer_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb, but not: application.rb|routes.rb
  yarn-eslint: any of: *.{js,ts,jsx,tsx}
